/* styles.css */

#emailList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* Use the font loaded in HTML */
}

#emailList li {
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 1.6;
    transition: background-color 0.3s ease;
}

#emailList li:hover {
    background-color: #e4e4e4;
}

/* Style for the "Summarizing..." loading message */
.loading-message {
    font-style: italic;
    color: #666;
}

.email-content {
    overflow: hidden;
}